<div class="banner">
	<div class="container">
		<h1>Login</h1>
		<p class="lead">Please login below, If you do not have an account feel free to register!</p>
	</div>
</div>

<section class="login-view" ng-controller="LoginController"><div class="container">

	<div class="panel panel-default">
		<form data-ng-submit="login()" novalidate>
		<div class="header small">
			<span class="lead">LOGIN</span>

			<div class="alert alert-danger error-description" data-ng-show="errors.length" role="alert">
				<ul><li ng-repeat="error in errors">{{error}}</li></ul>
			</div>
			
			<div data-ng-hide="errors.length" class="login-description">
				<p class="subtext">Log in without registering:</p>
				<ul class="user-creds list-unstyled"><li>Username: <strong>user</strong></li>
					<li>Password: <strong>password</strong></li>
				</ul>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><span class="fa fa-user"></span></span>
				<input data-ng-model="username" type="text" class="form-control" id="username" placeholder="Enter your username" />
			</div>

			<div class="input-group">
				<span class="input-group-addon"><span class="fa fa-lock"></span></span>
				<input data-ng-model="password" type="password" class="form-control" id="password" placeholder="Enter your password" />
			</div>
		</div>
		<input type="submit" class="btn btn-primary pull-right submit-button" value="Login" />
		<div class="clearfix"></div>
	</div>

</div></section>
