@import '../lib/bootstrap/less/bootstrap.less';

@headerFont: 'Gloria Hallelujah', cursive;
@navbarDarkText: #3f98a8;
@navbarColor: #a4d0d8;
@navbarDark: #91bec6;
@bannerColor: #c7e7ed;
@lightKhaki: #F4F4EE;
@darkKhaki: #C0C0B6;

.border-radius(@radius){
    .border-top-radius(@radius);
    .border-right-radius(@radius);
    .border-bottom-radius(@radius);
    .border-left-radius(@radius);
}

.btn-icon { margin-right: 8px; }

body {
	background-color: @lightKhaki;
}

footer { height: 100px; }

.double-gradient {
	background: #f4f4ee; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4f4ee 0%, #ffffff 20%, #ffffff 80%, #f4f4ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4ee), color-stop(20%,#ffffff), color-stop(80%,#ffffff), color-stop(100%,#f4f4ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4f4ee 0%,#ffffff 20%,#ffffff 80%,#f4f4ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4f4ee 0%,#ffffff 20%,#ffffff 80%,#f4f4ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4f4ee 0%,#ffffff 20%,#ffffff 80%,#f4f4ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4f4ee 0%,#ffffff 20%,#ffffff 80%,#f4f4ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4ee', endColorstr='#f4f4ee',GradientType=0 ); /* IE6-9 */
}

.banner { 
	background-color: @bannerColor;
	border-bottom: 5px solid #FFF;
	
	h1 { 
		font-family: @headerFont; 
		color: @navbarDarkText;
		margin-bottom: 20px;
		font-size: 26px;
		text-align: center;
	} 
	
	.lead { 
		color: @navbarColor - #111; 
		text-align: center;
	}

	.container { padding: 80px 20px 20px 20px; }
}

#main-navbar {
	background-color: @navbarColor;
	border-bottom: 0;
	box-shadow: 0 -5px 40px #596c70;

	.navbar-header {
		.navbar-brand {
			font-family: 'Permanent Marker', cursive;
			font-size: 24px;
			color: @navbarDarkText;
			margin-left: 30px; 
		}

		.navbar-toggle {
			margin: 0 15px;
			border: 0;
			color: @bannerColor;
			font-size: 24px;
			.border-radius(0);

			&:active, &:hover, &:focus {
				background-color: #deeff2;
				.fa {
					color: @navbarColor;
				}
			}
		}

		#mean-logo {
			width: 30px;
			margin-left: 10px;
			position: absolute; 
			top: 10px;
		}
	}

	#navbar {
		background-color: #deeff2;
		border: 0;

		li a {
			font-weight: bold;
			.fa { margin-right: 8px; }
			&:hover { color: @navbarDarkText; }
		}

		&.collapse, &.collapsing {
			ul { margin: 0 -15px; }
			li a {
				color: @navbarDarkText;
				.fa { color: @navbarColor - #111 }
				border-bottom: 1px solid @navbarColor + #000;
			}
		}
	}
}

#main-view {
	.btn-primary {
	    color:#ffffff;
	    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	    border: 0;
	    background: #c7e7ed; /* Old browsers */
		background: -moz-linear-gradient(top,  #c7e7ed 0%, #8fcbd6 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7e7ed), color-stop(100%,#8fcbd6)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #c7e7ed 0%,#8fcbd6 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #c7e7ed 0%,#8fcbd6 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #c7e7ed 0%,#8fcbd6 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #c7e7ed 0%,#8fcbd6 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7e7ed', endColorstr='#8fcbd6',GradientType=0 ); /* IE6-9 */

		&:hover {
			background: @navbarColor;
		}
	}

	section {
		&.no-margin { margin-top: 0; }
	}

	.panel {
		border: 0;
		border-width: 0 1px 1px 0;
		border-color: #c0c0b6;
		border-style: solid;
		background-color: #FFF;
		padding: 20px;
	}

	.off-section { background-color: @lightKhaki; }

	// EXAMPLE PAGE -----------------------------------------
	.example-view {
		.tech-grid {
			padding: 60px 0 30px 0;
			.grid-cell { margin-bottom: 30px;}
			.color-block { 
				font-family: @headerFont;
				font-size: 20px;
				background-color: @darkKhaki; 
				padding: 50px 0;
				text-align: center;
				color: #FFF;
				margin-bottom: 20px;
				border: 0;
				border-bottom: 1px solid #a3a39b;
				.first-letter { font-size: 30px; }
			}
		}
	}

	// LOGIN PAGE & SIGNUP -----------------------------------------
	.login-view, .signup-view {
		.double-gradient { padding: 60px 0; }
		.container { padding: 60px 0; }
		.login-button { margin-top: 20px; }

		.panel {
			width: 100%;
			max-width: 300px;
			padding: 30px;
			margin: 0 auto;

			.form-group { margin: 0; }
			
			.header { 
				color: #CCC; 
				line-height: 1.1em;
				.lead { color: #888; }
				.subtext { margin-top: 5px; }

				.user-creds { 
					color: #999; 
					margin-left: 20px;
				}
				
				.error-description {
					margin-top: 10px;
					ul {
						padding: 0 10px;
						li { margin: 0; }
					}
				}
			}

			.submit-button { 
				margin-top: 20px;
				width: 100%; 
			}

			.input-group {
				margin-top: 20px;
				width: 100%;
				.input-group-addon { width: 40px; }
				.form-control {  }
			}
		}
	}

	// MEMBERS PAGE -----------------------------------------
	.members-view {
		.container {
			padding: 100px 0;

			.message {
				width: 500px;
				margin: 0 auto;
				
				.ico {
					float: left;
					color: green;
					font-size: 60px;
					margin-right: 20px;
				}
			}
		}
	}

}

@media (min-width: 768px) {
	// Modify the logo to shrink on mobile devices (as to not conflict with nav menu dropping down)
	#main-navbar {
		.navbar-header {
			.navbar-brand { margin-left: 70px; }
			#mean-logo {
				width: 70px;
				margin-left: 0;
			}
		}
	}

	// Modify the banner to decrease the amount of padding while in mobile mode
	.banner {
		h1 { text-align: left; }
		.lead { text-align: left; }
		.container { padding: 80px 20px 20px 60px; }
	}

	#navbar {
		background-color: @navbarColor !important;
		li a .fa { color: #275C66 !important; }
	}
}