<div class="banner">
	<div class="container">
		<h1>Sign Up!</h1>
		<p class="lead">Feel free to sign up for a test account below</p>
	</div>
</div>

<section class="signup-view" ng-controller="SignupController"><div class="container">

	<div class="panel panel-default">
		<div class="header small">
			<span class="lead">Sign Up</span>
			<p class="subtext">Please fill in all fields</p>

			<div class="alert alert-danger error-description" data-ng-show="errors.length" role="alert">
				<ul><li ng-repeat="error in errors">{{error}}</li></ul>
			</div>
		</div>

		<form data-ng-submit="signup()" name="signupForm" novalidate>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><span class="fa fa-user"></span></span>
					<input type="text" class="form-control" maxlength="50" name="username" data-ng-model="username" placeholder="Enter your username" required />
				</div>

				<div class="input-group">
					<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
					<input type="text" class="form-control" maxlength="40" data-ng-model="firstName" placeholder="Enter your first name" required />
				</div>

				<div class="input-group">
					<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
					<input type="text" class="form-control" maxlength="50" data-ng-model="lastName" placeholder="Enter your last name" required />
				</div>

				<div class="input-group">
					<span class="input-group-addon"><span class="fa fa-asterisk"></span></span>
					<input type="text" class="form-control" maxlength="32" data-ng-model="accessCode" placeholder="Enter your access code" required />
				</div>

				<div class="input-group">
					<span class="input-group-addon"><span class="fa fa-lock"></span></span>
					<input type="password" class="form-control" minlength="6" maxlength="12" data-ng-model="password" placeholder="Enter your password" required />
				</div>

				<div class="input-group">
					<span class="input-group-addon"><span class="fa fa-lock"></span></span>
					<input type="password" class="form-control" minlength="6" maxlength="12" data-ng-model="passwordConfirm" placeholder="Confirm your password" required />
				</div>
			</div>
			<input type="submit" ng-disabled="signupForm.$invalid" class="btn btn-primary pull-right submit-button" value="Register" />
		</form>

		<div class="clearfix"></div>
	</div>

</div></section>
