<div class="banner">
	<div class="container">
		<h1>Logged In</h1>
		<p class="lead">You have successfully logged in!</p>
	</div>
</div>

<section ng-controller="MembersController" class="members-view no-margin">
	<div class="double-gradient"><div class="container">
		<div class="message">
			<div class="fa fa-check-circle ico"></div>
			<p class="lead">
				Welcome <strong data-ng-bind="user.fullName"></strong>, this is an authenticated section of the example application
			</p>
		</div>
	</div></div>
</section>