<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
	<head>
		<base href="/" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="description" content="">
    	<meta name="author" content="">
		<title>MEAN User System</title>
		<link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Gloria+Hallelujah' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		
		<!-- build:css -->
			<link rel="stylesheet/less" type="text/css" href="css/styles.less" />
		<!-- endbuild -->

	</head>
	<body ng-controller="MainController">
		<nav id="main-navbar" class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="fa fa-bars"></span>
					</button>
					<a href="#"><img id="mean-logo" src="img/ms.png" alt="MEAN Logo" /></a>
					<a class="navbar-brand" href="#">User System</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li data-ng-show="user"><a href="members"><span class="fa fa-user"></span>Members</a></li>
						<li data-ng-show="user"><a href="/" data-ng-click="logout()"><span class="fa fa-sign-out"></span>Logout</a></li>
						<li data-ng-hide="user"><a href="signup"><span class="fa fa-pencil"></span>Signup</a></li>
						<li data-ng-hide="user"><a href="login"><span class="fa fa-sign-in"></span>Login</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<section id="main-view" ng-view></section>

		<footer></footer>

		<script type="text/javascript">
			window.user = <%- user || 'null' %>;
		</script>

		<!-- build:js -->
			<script type="text/javascript" src="lib/less/dist/less.min.js" type="text/javascript"></script>
			<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
			<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="lib/angular/angular.js"></script>
			<script type="text/javascript" src="lib/angular-route/angular-route.min.js"></script>
			<script type="text/javascript" src="lib/angular-resource/angular-resource.min.js"></script>
			
			<!-- MODULES -->
			<!-- Services -->
			<script type="text/javascript" src="service-users/users.client.module.js"></script>
			<script type="text/javascript" src="service-users/services/login.client.service.js"></script>
			<script type="text/javascript" src="service-users/services/logout.client.service.js"></script>
			<script type="text/javascript" src="service-users/services/users.client.service.js"></script>
			<script type="text/javascript" src="service-users/services/user.client.service.js"></script>

			<!-- Section modules -->
			<script type="text/javascript" src="module-example/example.client.module.js"></script>
			<script type="text/javascript" src="module-example/controllers/example.client.controller.js"></script>
			<script type="text/javascript" src="module-example/config/example.client.routes.js"></script>

			<script type="text/javascript" src="module-login/login.client.module.js"></script>
			<script type="text/javascript" src="module-login/controllers/login.client.controller.js"></script>
			<script type="text/javascript" src="module-login/config/login.client.routes.js"></script>

			<script type="text/javascript" src="module-signup/signup.client.module.js"></script>
			<script type="text/javascript" src="module-signup/controllers/signup.client.controller.js"></script>
			<script type="text/javascript" src="module-signup/config/signup.client.routes.js"></script>

			<script type="text/javascript" src="module-members/members.client.module.js"></script>
			<script type="text/javascript" src="module-members/controllers/members.client.controller.js"></script>
			<script type="text/javascript" src="module-members/config/members.client.routes.js"></script>

			<!-- Main application init -->
			<script type="text/javascript" src="application.js"></script>
		<!-- endbuild -->

	</body>
</html>