<div class="banner">
	<div class="container">
		<h1>User System Example</h1>
		<p class="lead">This example is a demonstration of the MEAN stack in action! </p>
	</div>
</div>

<section ng-controller="ExampleController" class="example-view no-margin">

	<div class="double-gradient"><div class="container">
		<div class="row tech-grid">
			<div class="col-sm-6 col-md-3 grid-cell">
				<div class="color-block panel panel-default"><span class="first-letter">M</span>ongoDB</div>
				<div class="description"><p>MongoDB is known to be one of the most popular NoSQL databases to date. This document
					style database relies on the JSON data format making it an ideal system to interact with the other technologies
					in the MEAN stack.</p></div>
			</div>
			<div class="col-sm-6 col-md-3 grid-cell">
				<div class="color-block panel panel-default"><span class="first-letter">E</span>xpressJS</div>
				<div class="description"><p>Express is a very slim web application framework which is highly extensible via modules 
					called middleware. Creating a RESTful API can be accomplished with a minimal number of lines of code.
				</p></div>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-sm-6 col-md-3 grid-cell">
				<div class="color-block panel panel-default"><span class="first-letter">A</span>ngularJS</div>
				<div class="description"><p>AngularJS is considered to be an extension of HTML, where other client-side frameworks 
					abstract away HTML and CSS. Like Express, AngularJS is highly extensible via modules such as routing or RESTful 
					API interfaces.
				</p></div>
			</div>
			<div class="col-sm-6 col-md-3 grid-cell">
				<div class="color-block panel panel-default"><span class="first-letter">N</span>odeJS</div>
				<div class="description"><p>NodeJS is a lightweight, highly extensible solution providing server-side support for 
					the whole stack. With real-time support, and its implementation of non-blocking model, Node is an ideal application
					for its role.</p>
				</div>
			</div>
		</div>
	</div></div>

	<div class="off-section">
		<div class="container">
			<div class="row descriptions">
				<div class="col-md-6">
					<div class="panel panel-default">
						<p>The MEAN stack consists of four primary technologies all working under a single unifying language, Javascript. 
							On the backend of the application, Node.js, in conjunction with the Express framework and MongoDB, provide a 
							beautifully simple system for providing fast, responsive web applications.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
						<p>This particular application demonstrates a functional user system allowing the user to sign up for a new account, 
							then login to a mock registered users area. Please see the source code at:
						</p>
						<a class="btn btn-primary pull-right" href="https://bitbucket.org/jtcrash/mean-user-system/overview" target="_blank" role="button">
							<span class="fa fa-bitbucket btn-icon"></span>Bitbucket
						</a>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>